
<html>
  <head>
    <title>Acerca de</title>
    <%- include('partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <%- include('partials/navbar'); %>
    <div class="jumbotron">
      <h1 class="display-4">Acerca de mí</h1>
    </div>
    <div class="yo">
      <p>Soy <b>Noemí</b>, tengo 19 años y actualmente me encuentro cursando el cuarto cuatrimestre de <b>Desarrollo de Software Multipltaforma</b> en la <b>UTNG</b>. La razón por la que elegí esta carrera, es por que me gusta entender el funcionamiento de los diversos sistemas que utilizamos día con día, ademas de tener la oportunidad de crear nuevos proyectos que faciliten el estilo de vida de las personas. </p>
      <img src="../images/pr.jpg" class="foto1">
      <p>Pero a demás de programar, me gusta hacer diversas actividades como:</p>
      <ul>
        <li>Leer</li>
        <li>Ver series</li>
        <li>Pasar tiempo con mi familia y amigos</li>
        <li>Escuchar música</li>
        <li>Cocinar</li>
      </ul>
    </div>
    
    <%- include('partials/script'); %>
    
  </body>
    <%- include('partials/footer'); %>
</html>
